@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 4%;
    padding: 10px;
    margin-left: 12%;
  }