@import "../../Variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.cards {
    max-width: 25w;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 4%;
    padding: 10px;
  }