@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    border: 2px solid rgb(29, 144, 190);
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    background-color: #938d8d70;
    margin-bottom: 1vh;
    margin-top: 1vh;
  
    img {
      height: 200px;
      display: block;
      margin: auto;
    }
  
    p {
      margin: 10px 0;
      color: #141414;
      font: 'Roboto', sans-serif;
    }
  
    .heading {
      text-align: center;
      font-size: 20px;
      text-decoration: underline;
      font-weight: bold;
      color: #141414;
      font: 'Roboto', sans-serif;
    }
  
    .abv {
      color: #141414;
      text-decoration: underline;
      font: 'Roboto', sans-serif;
    }
  }