@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main {
    nav {
      width: 100%;
      height: 100%;
    }
    main {
      width: 100%;
      height: 100%;
    }
  }