@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav {
    width: 100%;
    height: 8vh;
    background-color: #938d8d;

    input {
      width: 70%;
      margin-left: 10%;
      font-size: 18px;
      border: solid 2px rgb(29, 144, 190);
      border-radius: 4px;
      font: 'Roboto', sans-serif;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
