@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "./Variables.module.scss";

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:rgb(29, 144, 190);
    color: white;
    position: sticky;
    top: 0px;
    font: $prm-font;
}

.img {
    height: 50px;
    width: 100px;
    display: block;
    margin: auto;
}