@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color:rgb(29, 144, 190);
    color: white;
    position: sticky;
    top: 0px;
    font: 'Roboto', sans-serif;
}